<!DOCTYPE html>
<!-- The header component -->
<header class="header"> <!-- The header container -->
  <div class="header__container">
    <div class="header__left"> 
      <button class="header__menu-button"> <!-- The menu button -->
        <sl-icon name="list"></sl-icon> 
      </button>
      <a href="/" class="header__logo">Auwhv</a> <!-- The logo -->
      <nav class="header__nav"> <!-- The navigation -->
        <a href="/about" class="header__nav-link">About Whv</a> <!-- The navigation link -->
        <a href="/#work" class="header__nav-link">Job Info</a>
        <a href="/#travel" class="header__nav-link">Travel Story</a>
      </nav>
    </div> <!-- The left side of the header -->
    <div class="header__right">
      <div class="header__search">
        <sl-icon name="search" class="header__search-icon"></sl-icon>
        <input type="search" class="header__search-input" placeholder="Search">
      </div> <!-- The search -->
      <a href="/get-started" class="header__get-started">Get Started</a> <!-- The get started button -->
    </div> <!-- The right side of the header -->
  </div> <!-- The header container -->
</header>