/* The experience part styles */
.experience {
    position: relative; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 2rem;
    background-color: #9EBAD2;
    border-radius: 1rem;
    font-family: "Jost", sans-serif;
}

/* The experience title styles */
.experience__title {
    text-align: center;
    color: black;
    font-size: 2.5rem;
    margin-bottom: 4rem;
}

/* The experience container styles */
.experience__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* The grid template columns */
    gap: 2rem;
}

/* The experience category styles */
.experience__category {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

/* The experience category image styles */
.experience__category-image {
    width: 100%;
    height: 200px;
    border-radius: 0.5rem;
    overflow: hidden; /* The overflow hidden */
    margin-bottom: 1.5rem;
}

/* The experience category image styles */
.experience__category-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* The object fit */
}

/* The experience category title styles */
.experience__category-title {
    color: #2d3748;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
}

/* The experience job list styles */
.experience__job-list {
    list-style: none;
    padding: 0;
}

/* The experience job item styles */
.experience__job-item {
    color: #4a5568;
    padding: 0.5rem 0;
    text-align: center;
    transition: color 0.3s ease;
    font-weight: 200;
}

/* The experience job item hover styles */
.experience__job-item:hover {
    color: #2b6cb0;
}

@media (max-width: 968px) {
    .experience__container { /* The experience container styles for tablet */
        grid-template-columns: repeat(2, 1fr);
    }
}

/* The experience container styles for mobile */
@media (max-width: 640px) {
    .experience__container { /* The experience container styles for mobile */
        grid-template-columns: 1fr;
    }

    /* The experience styles for mobile */
    .experience {
        padding: 2rem 1rem;
    }
} 