.travel__image {
    max-width: 1000px;
    margin: 0 auto;
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.travel__image img {
    max-width: 80%; 
    width: 70%;
    height: auto; 
}